name: noVNC + WebRTC

on:
  workflow_dispatch:

jobs:
  run-vnc:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install desktop & VNC
      run: |
        sudo apt update -o Acquire::AllowInsecureRepositories=true
        sudo apt install -y xfce4 xfce4-goodies i3 polybar rofi dunst feh lxappearance \
        fonts-noto papirus-icon-theme zsh tightvncserver pulseaudio xclip wget tar git novnc websockify curl x11-xserver-utils
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
        sudo apt update
        sudo apt install -y google-chrome-stable
        pulseaudio --start
        
        mkdir -p ~/.vnc
        echo "" | vncpasswd -f > ~/.vnc/passwd
        chmod 600 ~/.vnc/passwd
        
        # xstartup
        cat > ~/.vnc/xstartup <<EOF
        #!/bin/sh
        unset SESSION_MANAGER
        unset DBUS_SESSION_BUS_ADDRESS
        picom --config /dev/null --experimental-backends --blur-method gaussian --blur-radius 5 --shadow-exclude "class_g = 'Polybar'" &
        startxfce4 &
        polybar example &
        EOF
        chmod +x ~/.vnc/xstartup
        export DISPLAY=:1
        vncserver :1 -geometry 1366x768 -depth 24 -localhost
        websockify --web /usr/share/novnc/ --wrap-mode=ignore 6080 localhost:5901 --idle-timeout 0 &
        echo "noVNC is running on port 6080"

        export VNC_CLIPBOARD=1

    - name: Clone dotfiles
      run: |
        export DISPLAY=:1
        git clone https://github.com/fathulfahmy/dotfiles-linux.git ~/dotfiles-linux
        cp -r ~/dotfiles-linux/.config/* ~/.config/
        cp ~/dotfiles-linux/.Xresources ~/.Xresources
        cp ~/dotfiles-linux/.xinitrc ~/.xinitrc
        cp ~/dotfiles-linux/.zshrc ~/.zshrc
        xrdb ~/.Xresources

    - name: Install Cloudflared tunnel
      run: |
        wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
        sudo dpkg -i cloudflared-linux-amd64.deb

    - name: Expose noVNC public URL
      run: |
          echo "Creating public tunnel..."
          cloudflared tunnel --url http://localhost:6080 --no-autoupdate > log.txt 2>&1 &
          sleep 10
          echo "=============================================="
          grep -o 'https://.*trycloudflare.com' log.txt
          echo "=============================================="
          echo "Keep this Actions job running to maintain connection."
          tail -f /dev/null
