name: noVNC RDP

on:
  workflow_dispatch:

jobs:
  run-vnc:
    runs-on: ubuntu-latest
    steps:
    - name: Install desktop & VNC
      run: |
        sudo apt update
        sudo apt install -y xfce4 xfce4-goodies tigervnc-standalone-server
        sudo apt install -y pulseaudio xclip wget tar

    - name: Start PulseAudio
      run: pulseaudio --start

    - name: Setup VNC password
      run: |
        mkdir -p ~/.vnc
        echo "" | vncpasswd -f > ~/.vnc/passwd
        chmod 600 ~/.vnc/passwd

    - name: Start VNC server (clipboard enabled)
      run: |
        export VNC_CLIPBOARD=1
        vncserver :1 -geometry 1366x768 -SecurityTypes None &
        sleep 3

    - name: Install noVNC
      run: |
        git clone https://github.com/novnc/noVNC
        git clone https://github.com/novnc/websockify
        ln -s websockify noVNC/utils/websockify

    - name: Start noVNC
      run: |
        ./noVNC/utils/novnc_proxy --vnc localhost:5901 --listen 6080 &
        sleep 3

    - name: Download WebRTC-streamer
      run: |
        wget https://github.com/mpromonet/webrtc-streamer/releases/download/v0.8.13/webrtc-streamer-v0.8.13-Linux-x86_64-Release.tar.gz
        tar -xzf webrtc-streamer-v0.8.13-Linux-x86_64-Release.tar.gz
        cd webrtc-streamer-v0.8.13-Linux-x86_64-Release
        chmod +x webrtc-streamer

    - name: Start WebRTC-streamer
      run: |
        ./webrtc-streamer -H 0.0.0.0:8000 "screen://0" &
        sleep 2

    - name: Install cloudflared
      run: |
        wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
        sudo dpkg -i cloudflared-linux-amd64.deb

    - name: Start Cloudflare tunnels
      run: |
        cloudflared tunnel --url http://localhost:6080 --metrics 0 &
        cloudflared tunnel --url http://localhost:8000 --metrics 0 &
        cloudflared tunnel --url http://localhost:9000 --metrics 0 &
        sleep 5

    - name: Show Public URLs
      run: |
        ps aux | grep -i "trycloudflare" | grep -v grep
